.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;

    // @media (min-width: 768px) {
    //     width: 750px;
    //     padding: 0;
    // }

    // @media (min-width: 992px) {
    // 	width: 970px;
    // }

    // @media (min-width: 1200px) {
    // 	width: 1170px;
    // }

    @include media-down-md {
        max-width: 718px;
    }

    @include media-down-sm {
        max-width: 342px;
    }
}

main {
    overflow: hidden;
}

/* home hero section */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 613px;
    margin-bottom: 128px;

    @include media-down-md {
        margin-bottom: 32px;
        height: 414px;
    }

    &__bg-picture {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        // min-height: 100%;
        z-index: -1;
    }

    &__bg-image {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        // height: 100vh;
        // min-height: 613px;
        justify-content: center;
        width: 530px;

        @include media-down-md {
            width: 500px;
            // height: 514px;
        }

        @include media-down-sm {
            width: 100%;
            // height: 414px;
        }
    }

    &__subtitle {
        margin-bottom: 22px;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 160%;
        color: $accent;
        text-transform: lowercase;

        @include media-down-md {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 36px;
        color: #fff;

        @include media-down-md {
            font-size: 33px;
            margin-bottom: 24px;
        }
    }
}

.section-header {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: baseline;

    @include media-down-md {
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 50%;

        @include media-down-md {
            width: 100%;
        }

        .title {
            @include media-down-md {
                font-size: 28px;
            }
        }
    }

    &__info {
        width: 50%;
        color: #444444;

        @include media-down-md {
            width: 100%;
        }
    }

    .readmore {
        &.desktop {
            @include media-down-md {
                display: none;
            }
        }

        &.mobile {
            @include media-down-md {
                margin-top: 8px;
            }

            @media (min-width: 1024px) {
                display: none;
            }
        }
    }
}

.flex-columns-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include media-down-md {
        gap: 30px;
    }

    @include media-down-sm {
        gap: 16px;
    }

    .item {
        padding: 24px;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        display: flex;
        width: 25%;
        flex: 25%;
        max-width: calc(25% - 22.5px);
        border: 1px solid $color__border;
        border-radius: 16px;
        color: #000;
        cursor: pointer;
        height: 300px;
        outline: 2px solid transparent;
        transition: 0.2s ease;

        @include media-down-md {
            width: 33%;
            flex: 33%;
            max-width: calc((100% - 60px) / 3);
        }

        @include media-down-sm {
            max-width: calc(50% - 8px);
            width: 50%;
            flex: 50%;
        }

    }
}

.our-products {
    margin-top: 128px;
    margin-bottom: 56px;

    @include media-down-md {
        margin: 72px 0 40px;
    }

    @include media-down-sm {
        margin: 64px 0 32px;
    }

    @include media-down-sm {
        padding-bottom: 32px;
        padding-top: 32px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 56px;

        @include media-down-md {
            gap: 32px;
        }
    }

    &__top {}

    &__title {}

    &__info {}

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include media-down-sm {
            gap: 16px;
        }
    }

    .product-item {
        padding: 24px;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        display: flex;
        width: 25%;
        flex: 25%;
        max-width: calc(25% - 22.5px);
        border: 1px solid $color__border;
        border-radius: 16px;
        color: #000;
        cursor: pointer;
        height: 300px;
        outline: 2px solid transparent;
        transition: 0.2s ease;
        text-decoration: none;

        @include media-down-md {
            width: 33%;
            flex: 33%;
            max-width: calc((100% - 60px) / 3);
        }

        @include media-down-sm {
            width: 50%;
            flex: 50%;
            max-width: calc(50% - 8px);
            padding: 12px;
            min-height: 180px;
            height: auto;
        }

        &:hover {
            outline: 2px solid $accent;
            border-color: transparent;

            .more-link {
                visibility: visible;
                opacity: 1;
            }

            .product-name {
                position: relative;
                top: 0px;
            }
        }

        .product-image {
            width: 128px;
            height: 123px;
            margin-bottom: 26px;
            margin-left: auto;
            margin-right: auto;

            @include media-down-md {
                width: 110px;
                height: 110px;
                margin-bottom: 10px;
            }
        }

        .more-link {
            visibility: hidden;
            opacity: 0;
            transition: 0.2s ease;
        }

        .product-name {
            position: relative;
            top: 20px;
            transition: 0.2s ease;
        }
    }
}

.cta-wide {
    margin-top: 74px;
    margin-bottom: 128px;

    @include media-down-md {
        margin: 40px 0 72px;
    }

    @include media-down-sm {
        margin: 32px 0 64px;
    }

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: #EEEEEE;
        border-radius: 24px;
        padding: 56px 48px;

        @include media-down-md {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px;
            text-align: center;
        }

        @include media-down-sm {
            padding: 32px;
        }

        .cta-wide--footer & {
            @include media-down-md {
                flex-direction: row;
                justify-content: space-between;
            }

            @include media-down-sm {
                flex-direction: column;
            }
        }

        .cta-content {
            width: 50%;
            max-width: 470px;

            @include media-down-md {
                max-width: 100%;
            }

            .cta-wide--footer & {
                @include media-down-md {
                    padding-right: 40px;
                    text-align: left;
                }

                @include media-down-sm {
                    padding-right: 0;
                    text-align: center;
                }
            }


            .title {
                p {
                    margin: 0;
                }
            }

            @include media-down-md {
                width: 100%;

                .title {
                    font-size: 23px;

                    p {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            @include media-down-sm {
                .title {
                    p {
                        display: inline;
                    }
                }
            }

            .subheadline {
                margin-top: 10px;
            }
        }

        .cta-more {
            display: flex;
            align-items: center;
            width: 50%;

            @include media-down-md {
                justify-content: center;
                width: 100%;
                margin-top: 24px;
            }

            @include media-down-sm {
                width: 100%;
                max-width: 100%;
                margin-top: 24px;
                align-items: center;
                justify-content: center;
            }

            .cta-wide--footer & {
                @include media-down-md {
                    width: 31%;
                }

                @include media-down-sm {
                    width: 100%;
                }
            }

            >* {
                flex: 50%;
                width: 50%;

                @include media-down-md {
                    width: 100%;
                    max-width: 100%;
                }
            }

            svg {
                @include media-down-md {
                    display: none;
                }
            }

            >.btn {
                flex: auto;
                width: auto;

                @include media-down-md {
                    max-width: max-content;
                    width: max-content;
                }

                .cta-wide--footer & {
                    @include media-down-md {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.our-areas {
    margin-top: 128px;
    margin-bottom: 128px;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 64px 0;

    }

    .section-header {
        &__title {
            .title {
                @include media-down-md {
                    font-size: 28px;
                }
            }
        }
    }

    &__inner {
        gap: 64px;
        display: flex;
        flex-direction: column;

        @include media-down-md {
            gap: 32px;
        }
    }

    &__content {
        .item {
            position: relative;
            padding: 0;
            border-radius: 16px;
            overflow: hidden;
            height: 340px;

            @include media-down-md {
                height: 260px;
            }

            @include media-down-sm {
                height: 180px;
            }

            &__inner {
                padding: 24px;
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                @include media-down-md {
                    padding: 20px;
                }

                @include media-down-sm {
                    padding: 12px;
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.83%, rgba(0, 0, 0, 0.84) 100%);
            }

            .product-image {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .product-name {
                position: relative;
                color: #fff;
                top: 20px;
                transition: 0.2s ease;

                @include media-down-md {
                    font-size: 15px;
                }
            }

            .more-link {
                position: relative;
                visibility: hidden;
                opacity: 0;
                transition: 0.2s ease;
            }

            &:hover {

                .more-link {
                    visibility: visible;
                    opacity: 1;
                }

                .product-name {
                    position: relative;
                    top: 0px;
                }
            }
        }
    }
}

.cta-bg {
    margin-top: 64px;
    margin-bottom: 64px;

    @include media-down-md {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    &__inner {
        background: #444444;
        border-radius: 24px;
        padding-top: 100px;
        padding-bottom: 87px;
        padding-left: 72px;
        display: flex;
        position: relative;
        overflow: hidden;

        @include media-down-md {
            padding: 40px;
        }

        @include media-down-sm {
            padding-top: 44px;
            padding-left: 32px;
            padding-right: 32px;
            min-height: 402px;
        }

        .cta-content {
            color: #fff;
            display: flex;
            flex-direction: column;
            max-width: 400px;

            @include media-down-sm {
                align-items: center;
                text-align: center;
            }
        }

        .cta-title {
            color: #fff;

            @include media-down-md {
                font-size: 28px;
            }
        }

        .subheadline {
            color: #EEEEEE;
            margin-top: 16px;

            @include media-down-md {
                margin-top: 8px;
            }
        }

        .cta-more {
            margin-top: 40px;

            @include media-down-md {
                margin-top: 16px;
            }
        }
    }

    &__image {
        position: absolute;
        right: 0;
        top: 0;

        @include media-down-md {
            bottom: 0;
        }

        @include media-down-sm {
            margin: 0;
            bottom: 0;
            top: unset;
        }
    }
}

.our-company {
    margin: 128px 0;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 64px 0;
    }

    &__inner {
        display: flex;
        gap: 72px;

        @include media-down-md {
            gap: 66px;
        }

        @include media-down-sm {
            flex-direction: column;
            gap: 40px;
        }

        .section-title {
            margin-bottom: 24px;

            @include media-down-md {
                font-size: 28px;
                margin-bottom: 8px;
            }

            strong {
                color: $accent;
            }
        }

        .section-info {
            margin-bottom: 32px;

            @include media-down-md {
                margin-bottom: 16px;
            }
        }

        .image {
            border-radius: 24px;
            overflow: hidden;

            img {
                display: block;
            }
        }

        .col-1 {
            @include media-down-sm {
                display: flex;
                flex-direction: column;

                .image {
                    order: 1;
                    margin-bottom: 24px;
                }

                .section-title {
                    order: 2;
                }

                .section-info {
                    order: 3;
                    margin-bottom: 16px;
                }

                .readmore {
                    order: 4;
                    margin-bottom: 0 !important;
                }
            }

            .readmore {
                margin-bottom: 98px;

                @include media-down-md {
                    margin-bottom: 32px;
                }
            }
        }

        .col-2 {
            .image {
                margin-bottom: 98px;

                @include media-down-md {
                    margin-bottom: 32px;
                }

                @include media-down-sm {
                    margin-bottom: 24px;
                }
            }
        }

        .col-1,
        .col-2 {
            width: 50%;
            flex: 50%;

            @include media-down-md {
                width: 100%;
                flex: 100%;
            }
        }
    }
}

.our-news {
    margin: 128px 0;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 64px 0;
    }

    .section-header {
        margin-bottom: 64px;

        @include media-down-md {
            margin-bottom: 32px;
        }
    }

    .swiper-wrapper {
        display: flex;
        gap: 30px;
        overflow: auto;
        width: 110vw;

        @include media-down-md {
            gap: 30px;
        }

        @include media-down-sm {
            gap: 24px;
            overflow: auto;
        }
    }

    .article-item {
        width: 33.33%;
        flex: 33.33%;
        max-width: calc(33.33% - 20px);
        min-width: calc(33.33% - 20px);

        @include media-down-md {
            width: 300px;
            flex: 300px;
            max-width: 300px;
            min-width: 300px;
        }

        @include media-down-sm {
            width: 80%;
            flex: 80%;
            max-width: 80%;
            min-width: 80%;
        }
    }

    .article-title {
        text-decoration: none;
        margin-bottom: 16px;
        display: block;

        @include media-down-md {
            margin-bottom: 8px;
        }
    }

    .article-image {
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 16px;
        display: block;

        img {
            display: block;
            width: 100%;
            height: 270px;
            object-fit: cover;
        }
    }

    .article-date {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}