.application-areas-list {
    margin: 128px 0;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 64px 0;
    }

    &__list {
        @include reset-ul;

        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include media-down-md {
            gap: 32px 30px;
        }

        @include media-down-sm {
            gap: 24px 16px;
        }
    }
}

.application-areas-item {
    position: relative;
    width: 270px;
    height: 340px;
    padding: 28px 24px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.83%, rgba(0, 0, 0, 0.84) 100%);
    overflow: hidden;

    @include media-down-md {
        width: 209px;
        height: 260px;
        padding: 20px;
    }

    @include media-down-sm {
        width: 148px;
        height: 180px;
        padding: 12px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &__title {
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        color: #fff;

        @include media-down-md {
            font-size: 15px;
            line-height: 24px;
        }

        @include media-down-sm {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__more {
        @include reset-a($accent);

        display: none;
        font-family: $font__secondary;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;

        @include media-down-md {
            display: block;
        }

        .application-areas-item:hover & {
            display: block;
        }

        &>svg {
            margin-left: 6px;
        }
    }
}