{
    "env": {
        "browser": true
    },
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext",
        "prettier"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "no-console": 0
    }
}