.model-info {
    margin: 40px 0 128px;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 40px 0;
    }

    &__parent-page-name {
        @include reset-a($accent);
    }

    &__title {
        margin-top: 16px;
        font-size: 40px;
        line-height: 130%;

        @include media-down-md {
            font-size: 28px;
        }
    }

    &__tabs {
        margin-top: 24px;

        @include media-down-md {
            margin-top: 16px;
        }
    }
}

.model-tabs {
    &__head {
        display: flex;
        align-items: center;
        border-top: 1px solid $color__border;
        border-bottom: 1px solid $color__border;

        @include media-down-sm {
            gap: 25px;
            overflow: auto;
        }
    }

    &__tab {
        position: relative;
        width: calc(100% / 3);
        padding: 20px 0;
        text-align: center;
        font-family: $font__secondary;
        font-weight: 700;
        font-size: 19px;
        line-height: 160%;
        cursor: pointer;

        @include media-down-md {
            padding: 12px 0;
            font-size: 16px;
        }

        @include media-down-sm {
            flex-shrink: 0;
            width: min-content;
        }

        @include underline(3px);

        &:hover {
            @include active-underline(3px);

            color: $accent;
        }

        &--active {
            color: $accent;

            @include active-underline(3px);
        }
    }

    &__body {
        margin-top: 40px;

        @include media-down-md {
            margin-top: 16px;
        }
    }

    &__inset {
        display: none;

        &--visible {
            display: block;
        }
    }

    &__tech-info {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include media-down-md {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__params {
        @include reset-ul;

        width: 57%;

        @include media-down-md {
            width: 100%;
        }
    }

    &__drawing {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        min-height: 510px;
        padding: 24px;
        background: $color__drawing_bg;
        border-radius: 16px;

        @include media-down-md {
            width: 100%;
            min-height: 394px;
        }

        @include media-down-sm {
            width: 100%;
            min-height: 260px;
        }
    }

    &__inset-description {
        margin-top: 128px;

        @include media-down-md {
            margin-top: 72px;
        }
    }

    &__lazy-video {
        position: relative;
        margin: 40px auto 0;
        width: 928px;

        @include media-down-md {
            margin-top: 16px;
            width: 100%;
            height: 386px;
        }

        @include media-down-sm {
            height: 175px;
        }

        .lazy-video__figure {
            height: 520px;

            @include media-down-md {
                height: 387px;
            }

            @include media-down-sm {
                height: 175.5px;
            }
        }
    }
}