.product-general-info {
    margin: 40px 0;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 40px 0;
    }

    &__content {
        display: flex;
        gap: 70px;

        @include media-down-md {
            gap: 32px;
        }

        @include media-down-sm {
            flex-direction: column;
        }
    }

    &__picture {
        position: relative;
        flex: 1 0 auto;
        width: 600px;
        height: 640px;
        margin: 0;
        border-radius: 16px;
        overflow: hidden;

        @include media-down-md {
            width: 328px;
        }

        @include media-down-sm {
            width: 100%;
            height: 370px;
        }

        img {
            border-radius: 16px;
            overflow: hidden;

            @include media-down-md {
                position: absolute;
                top: 0;
                right: -42px;
                max-width: unset;
                width: 555px;
                height: 640px;
                object-fit: unset;
            }

            @include media-down-sm {
                right: -23px;
                width: 360px;
                height: 395px;
            }
        }
    }

    &__tag {
        position: absolute;
        top: 32px;
        left: 32px;
    }

    // &__text {}

    &__title {
        font-family: $font__secondary;
        font-size: 40px;
        line-height: 130%;

        @include media-down-md {
            font-size: 28px;
            line-height: 140%;
        }
    }

    &__subtitle {
        margin-top: 16px;
        font-family: $font__main;
        font-size: 19px;
        font-weight: 600;
        line-height: 160%;

        @include media-down-md {
            font-size: 16px;
            line-height: 160%;
        }
    }

    &__benefits {
        @include reset-ul;

        margin-top: 16px;
    }
}