.products {
    @include standard-block-margins;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        @include media-down-md {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-down-sm {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
        }

        &--original {
            display: none;
        }
    }

    &__navigation {
        margin-top: 64px;

        @include media-down-md {
            margin-top: 40px;
        }

        @include media-down-sm {
            margin-top: 32px;
        }
    }
}