.product-general-info {
    margin: 40px 0;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 40px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include media-down-md {
            gap: 24px;
        }

        @include media-down-sm {
            gap: 16px;
        }
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex: 1 0 auto;
        width: 100%;
        max-height: 650px;
        height: 100%;
        margin: 0;
        border-radius: 16px;
        overflow: hidden;

        @include media-down-md {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    &__title {
        font-family: $font__secondary;
        font-size: 40px;
        line-height: 130%;
        text-transform: uppercase;

        @include media-down-md {
            font-size: 28px;
            line-height: 140%;
        }

        @include media-down-sm {
            font-size: 24px;
        }
    }

    &__subtitle {
        margin-top: 16px;
        font-family: $font__main;
        font-size: 19px;
        font-weight: 600;
        line-height: 160%;

        @include media-down-md {
            font-size: 16px;
            line-height: 160%;
        }
    }

    &__benefits-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        @include media-down-sm {
            gap: 0;
        }
    }

    &__benefits {
        @include reset-ul;

        width: calc(50% - 12px);

        @include media-down-sm {
            width: 100%;
        }
    }
}