.glossary-block {
    margin-top: 40px;
    margin-bottom: 80px;

    @include media-down-md {
        margin-top: 24px;
        margin-bottom: 64px;
    }

    @include media-down-sm {
        margin-top: 12px;
        margin-bottom: 40px;
    }
}

.content-glossary {
    @extend .glossary-block;
}