.hero {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 463px;
    margin-bottom: 128px;
    padding: 64px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-down-md {
        align-items: start;
        margin-bottom: 32px;
        min-height: 333px;
        padding-top: 64px;
    }

    @include media-down-sm {
        min-height: 178px;
    }

    &--front-page {
        min-height: 613px;
        padding: 144px 0;

        @include media-down-md {
            align-items: center;
            min-height: 414px;
            padding: 88px 0;
        }

        @include media-down-sm {
            padding: 64px 0;
        }
    }

    &__bg-picture {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        z-index: -1;

    }

    &__bg-image {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__bg-picture-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
    }

    &__container {
        z-index: 1;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__above-title {
        margin-bottom: 22px;
        width: 530px;

        @include media-down-md {
            margin-bottom: 8px;
            width: 500px;
        }

        @include media-down-sm {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 0;
        width: 530px;
        color: #fff;

        @include media-down-md {
            width: 500px;
            font-size: 33px;
        }

        @include media-down-sm {
            width: 100%;
            font-size: 23px;
            line-height: 32px;
        }
    }

    &__description {
        margin-top: 22px;
        width: 570px;
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        color: #fff;

        @include media-down-md {
            margin-top: 16px;
        }

        @include media-down-sm {
            margin-top: 8px;
            width: 100%;
            font-size: 16px;
            line-height: 26px;
        }

        strong {
            color: $accent;
        }
    }

    &__readmore {
        width: max-content;
        margin-top: 36px;

        @include media-down-md {
            margin-top: 24px;
        }
    }
}