.current-articles {
    margin: 80px 0;

    @include media-down-md {
        margin: 72px 0;
    }

    @include media-down-sm {
        margin: 64px 0;
    }

    &__categories-list {
        gap: 12px;
    }

    &__categories-item {
        @include reset-li;
    }

    &__list {

        &-original {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 56px 30px;
            margin-top: 64px;

            @include media-down-md {
                grid-template-columns: repeat(2, 1fr);
                gap: 32px 30px;
                margin-top: 32px;
            }

            @include media-down-sm {
                grid-template-columns: repeat(1, 1fr);
                gap: 24px;
                margin-top: 24px;
            }
        }

        &-original {
            display: none;
        }
    }

    &__skeleton-item {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 56px 30px;
        margin-top: 64px;

        @include media-down-md {
            grid-template-columns: repeat(2, 1fr);
            gap: 32px 30px;
            margin-top: 32px;
        }

        @include media-down-sm {
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
            margin-top: 24px;
        }

        &--pc {
            display: grid;

            @include media-down-md {
                display: none;
            }
        }

        &--tab {
            @include media-down-md {
                display: grid;
            }
        }

        &--mob {
            @include media-down-sm {
                display: grid;
            }
        }
    }

    &__navigation {
        margin-top: 64px;

        @include media-down-sm {
            margin-top: 40px;
        }
    }
}