.contacts-info {
    @include standard-block-margins;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        @include media-down-md {
            gap: 30px;
        }

        @include media-down-sm {
            flex-direction: column;
            align-items: stretch;
            gap: 32px;
        }
    }

    &__text {
        max-width: 530px;

        @include media-down-md {
            max-width: 329px;
        }

        @include media-down-sm {
            max-width: 100%;
        }
    }

    &__logo {
        width: 290px;
        height: 32px;

        @include media-down-md {
            width: 206px;
            height: 23px;
        }

        @include media-down-sm {
            width: 227px;
            height: 25px;
        }
    }

    &__logo-image {
        width: 100%;
    }

    &__address {
        margin: 0;
        margin-top: 32px;
        font-family: $font__secondary;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 30px;
        color: #000000;

        @include media-down-sm {
            font-size: 16px;
            line-height: 22px
        }

        p {
            margin: 0;
        }
    }

    &__contacts-list {
        @include reset-ul;

        margin-top: 32px;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: #000000;

        @include media-down-sm {
            margin-top: 24px;
            font-size: 16px;
            line-height: 26px;
        }
    }

    &__contacts-item {
        @include reset-li;

        display: flex;
        gap: 5px;
    }

    &__map {
        position: relative;
        max-width: 570px;
        width: 100%;
        height: 475px;
        border-radius: 24px;
        border: 1px solid;
        overflow: hidden;

        @include media-down-md {
            max-width: 329px;
            height: 343px;
        }

        @include media-down-sm {
            max-width: 100%;
            height: 260px;
        }

        .shm-map-container {
            border: none !important;
            height: 475px !important;
        }

        .leaflet-bottom.leaflet-right {
            display: none;
        }
    }

    &__map-image {
        width: 100%;
        height: 100%;
    }

    &__map-marker {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}