.grayplate-text {
	border-radius: 24px;
	background: #eee;
	padding: 64px;
	margin: 50px auto 32px auto;
	@include media-down-md {
		padding: 32px;
	}
	&__wrap {
		&.two-columns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
			@include media-down-sm {
				grid-template-columns: 100%;
				grid-gap: 0;
			}
			h6 {
				margin-bottom: 40px;
			}
		}
	}

	&__column {
		a {
			&:last-of-type {
				margin-bottom: 40px;
			}
		}
	}

	.subtitle {
		color: #444;
		font-size: 19px;
		font-weight: 500;
		line-height: 160%;
		margin-bottom: 16px;
		@include media-down-sm {
			font-size: 16px;
		}
	}

	h6 {
		margin-top: 0;
		@include media-down-md {
			font-size: 16px;
			line-height: 140%;
		}
	}

	a {
		display: flex;
		max-width: max-content;
		color: #000;
		font-size: 19px;
		font-family: "Eurostile Candy W02 Bold";
		font-weight: 700;
		line-height: 160%;
		margin-bottom: 12px;
		&:hover {
			color: #ff6000;
		}
	}
	p {
		margin-bottom: 8px;
	}

	table {
		border: 0;
		margin-top: 32px;
		border: 1px solid #fff;
		border-radius: 24px;
		tr {
			&:nth-child(odd) {
				background: rgba(255, 255, 255, 0.4);
			}
            &:last-child {
                td {
                    &:first-child {
                        border-radius: 0 0 0 24px;
                    }
                    &:last-child {
                        border-radius: 0 0 24px 0;
                    }
                }
            }
            &:hover {
                background: #FFF;
            }
			th {
				background: #ffffff;
				padding: 17px 32px;
				&:first-child {
					border-radius: 24px 0 0 0;
				}
				&:last-child {
					border-radius: 0 24px 0 0;
				}
			}
			td {
				padding: 24px 32px;
			}
		}
		a {
            font-family: "Asap", sans-serif;
			color: #ff6000;
			font-size: 16px;
			line-height: 160%;
			text-decoration-line: underline;
		}
	}
}
