.app-areas-in-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    &__item {
        @include reset-a(#fff);

        padding: 4px 8px;
        background: $accent;
        color: #FFFFFF;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10px;
        line-height: 160%;

        @include media-down-md {
            font-size: 10px;
            line-height: 160%;
        }
    }
}