ul {
    @include reset-ul;

    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 16px;
    line-height: 160%;

    li {
        position: relative;
        padding-left: 26px;

        &:not(:first-child) {
            margin-top: 8px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 12px;
            left: 12px;
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $accent;
        }
    }
}

ol {
    margin: 0 0 1.5em 3em;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

.arrow-list-item {
    display: flex;
    padding: 12px 16px;
    border-bottom: 1px solid $color__border;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    &__arrow {
        margin-right: 16px;
    }
}

.arrow-list-item-full {
    display: flex;
    justify-content: space-between;
    padding: 16px 6px;
    border-bottom: 1px solid $color__border;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    &__property {
        display: flex;
    }

    &__arrow {
        margin-right: 16px;
    }

    &__value {
        min-width: max-content;
        margin-left: 12px;
    }
}