.wp-block-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 0;
    padding-right: 32px;
    border-radius: 6px;
    border: 2px solid $accent;
    font-family: $font__secondary;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;

    @include media-down-sm {
        line-height: 140%;
    }

    &__download-link {
        display: flex;
        order: 3;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9ImRvd25sb2FkLTAxIj4KPHBhdGggaWQ9Ikljb24iIGQ9Ik00IDIwLjM4MjdDNC40MDQ3MSAyMC43NzggNC45NTM2MSAyMSA1LjUyNTk1IDIxSDE4LjQ3NDFDMTkuMDQ2NCAyMSAxOS41OTUzIDIwLjc3OCAyMCAyMC4zODI3TTEyLjAwMTIgM1YxNC45NDI1TTEyLjAwMTIgMTQuOTQyNUwxNi45MzM4IDEwLjM3OTNNMTIuMDAxMiAxNC45NDI1TDcuMDY4NTkgMTAuMzc5MyIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9nPgo8L3N2Zz4K");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__extension {
        order: 2;
        margin-left: 8px;
        font-family: $font__secondary;
        font-size: 16px;
        font-weight: 700;
        line-height: 130%;
        color: #b6b6b6;
    }

    a:first-child {
        @include reset-a($color__background);

        display: flex;
        align-items: center;
        order: 1;
        padding: 24px 32px;
    }
}