.search-results {
    &__content {
        padding-top: 50px;
        padding-bottom: 128px;

        @include media-down-md {
            padding-top: 40px;
            padding-bottom: 72px;
        }

        @include media-down-sm {
            padding-bottom: 64px;
        }
    }

    &__header {
        position: relative;
    }

    &__title {
        font-size: 40px;
        font-style: normal;
        line-height: 130%;
        color: $color__background;

        @include media-down-sm {
            font-size: 28px;
        }
    }

    &__note {
        margin-top: 8px;
        font-size: 16px;
        line-height: 160%;
    }

    &__form {
        margin-top: 24px;
    }

    &__result-wrapper {
        position: absolute;
        top: 174px;
        left: 0;
        display: none;
        z-index: 99;

        @include media-down-md {
            top: 265px;
        }

        @include media-down-sm {
            top: 325px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 32px;
        margin-top: 50px;

        @include media-down-md {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 72px;
        }

        @include media-down-sm {
            margin-top: 64px;
        }
    }

    &__navigation {
        margin-top: 64px;

        @include media-down-sm {
            margin-top: 40px;
        }
    }
}

.search-no-results {
    padding: 40px 0 128px;

    @include media-down-md {
        padding: 40px 0 72px;
    }

    @include media-down-sm {
        padding: 40px 0 64px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-down-md {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 32px;

        @include media-down-md {
            gap: 30px;
        }
    }

    &__text {
        position: relative;
    }

    &__title {
        color: $color__background;
        font-size: 28px;
        line-height: 130%;

        @include media-down-sm {
            line-height: 140%;
        }

        &--pc {
            @include media-down-md {
                display: none;
            }
        }

        &--tab-mob {
            display: none;

            @include media-down-md {
                display: block;
            }
        }
    }

    &__recomendation {
        margin-top: 24px;

        @include media-down-sm {
            margin-top: 8px;
        }

        &-header {
            font-size: 16px;
            font-weight: 600;
            line-height: 160%;
            margin-top: 0;
        }

        &-description {
            margin-top: 12px;
        }

        &_list {
            margin-top: 12px;
        }
    }

    &__image {
        flex-shrink: 0;
        max-width: 526px;

        @include media-down-md {
            max-width: 330px;
        }

        @include media-down-sm {
            display: none;
        }
    }

    &__form {
        margin-top: 24px;

        .search-form {
            @include media-down-md {
                flex-direction: column;
                align-items: flex-start;
            }

            &__submit {
                @include media-down-md {
                    width: 100%;
                }
            }
        }
    }

    &__result-wrapper {
        position: absolute;
        top: 338px;
        left: 0;
        display: none;
        z-index: 99;

        @include media-down-md {
            top: 475px;
        }

        @include media-down-sm {
            top: 460px;
        }
    }
}