.fifty-fifty-description {
    display: flex;
    gap: 30px;

    @include media-down-sm {
        flex-direction: column;
    }

    &__accent-text {
        width: 600px;
        font-weight: 600;
        font-size: 19px;
        line-height: 160%;

        @include media-down-md {
            width: 100%;
        }
    }

    &__text {
        width: 570px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;

        @include media-down-md {
            width: 100%;
        }
    }

    p {
        margin: 0;
    }
}